* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  color: #62626f;
}
section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://www.evangadi.com/themes/humans/assets/images/misc/bg-svg-f.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}

@media (max-width: 1024px) {
  nav {
    width: 100%;
  }
  footer > div {
    width: 100%;
  }
  section {
    height: auto;
    padding: 20px 0;
  }
  .main-section {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }
  .sign-form {
    margin-top: 50px;
    width: 70%;
  }
  .about {
    width: 70%;
    align-items: center;
    text-align: center;
  }
  .forum .forum-main {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .sign-form {
    width: 100%;
    height: auto;
    margin-top: 50px;
  }
  .about {
    width: 100%;
    align-items: center;
  }
  footer > div {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  .forum .forum-main {
    padding: 10px;
  }
  .forum-header .user,
  .askQ-header a {
    position: absolute;
    top: 100px;
    right: 20px;
  }
  .askQ-rule {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .submenu {
    display: none;
  }
  .menu {
    display: block;
  }
  .notifications {
    text-align: left;
    left: 10px;
    right: 0;
  }
}
